<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>example</key>
	<dict>
		<key>en</key>
		<string></string>
		<key>chn</key>
		<string></string>
		<key>status</key>
		<string></string>
	</dict>
	<key>list</key>
	<array>
		<dict>
			<key>en</key>
			<string>abandon</string>
			<key>chn</key>
			<string>放弃</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>accompanied</string>
			<key>chn</key>
			<string>陪伴</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>accumulation</string>
			<key>chn</key>
			<string>积累</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>ambiguous</string>
			<key>chn</key>
			<string>模糊的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>appendix</string>
			<key>chn</key>
			<string>附录</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>appreciation</string>
			<key>chn</key>
			<string>感激</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>arbitrary</string>
			<key>chn</key>
			<string>武断的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>automatically</string>
			<key>chn</key>
			<string>自动的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>bias</string>
			<key>chn</key>
			<string>偏见</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>chart</string>
			<key>chn</key>
			<string>图表</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>clarity</string>
			<key>chn</key>
			<string>清楚</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>conformity</string>
			<key>chn</key>
			<string>遵守</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>commodity</string>
			<key>chn</key>
			<string>商品</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>complement</string>
			<key>chn</key>
			<string>补充</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>contemporary</string>
			<key>chn</key>
			<string>现代的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>contradiction</string>
			<key>chn</key>
			<string>矛盾</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>crucial</string>
			<key>chn</key>
			<string>重要的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>currency</string>
			<key>chn</key>
			<string>货币</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>denote</string>
			<key>chn</key>
			<string>指示</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>detected</string>
			<key>chn</key>
			<string>察觉</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>deviation</string>
			<key>chn</key>
			<string>偏离</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>displacement</string>
			<key>chn</key>
			<string>位移</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>dramatic</string>
			<key>chn</key>
			<string>戏剧的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>eventually</string>
			<key>chn</key>
			<string>最后的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>exhibit</string>
			<key>chn</key>
			<string>展示</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>exploitation</string>
			<key>chn</key>
			<string>充分利用</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>fluctuations</string>
			<key>chn</key>
			<string>波动</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>guidelines</string>
			<key>chn</key>
			<string>指导</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>highlighted</string>
			<key>chn</key>
			<string>强调</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>implicit</string>
			<key>chn</key>
			<string>含蓄的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>induced</string>
			<key>chn</key>
			<string>引诱</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>inevitably</string>
			<key>chn</key>
			<string>不可避免的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>infrastructure</string>
			<key>chn</key>
			<string>基础设施</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>inspection</string>
			<key>chn</key>
			<string>检查</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>intensity</string>
			<key>chn</key>
			<string>强度</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>manipulation</string>
			<key>chn</key>
			<string>操控</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>minimised</string>
			<key>chn</key>
			<string>最小化</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>nuclear</string>
			<key>chn</key>
			<string>核</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>offset</string>
			<key>chn</key>
			<string>抵消</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>paragraph</string>
			<key>chn</key>
			<string>段落</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>plus</string>
			<key>chn</key>
			<string>加</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>practitioners</string>
			<key>chn</key>
			<string>从业者</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>predominantly</string>
			<key>chn</key>
			<string> 主导的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>prospect</string>
			<key>chn</key>
			<string>前景</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>radical</string>
			<key>chn</key>
			<string>根本的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>random</string>
			<key>chn</key>
			<string>随意的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>reinforced</string>
			<key>chn</key>
			<string>加强</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>restore</string>
			<key>chn</key>
			<string>储存</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>revision</string>
			<key>chn</key>
			<string>修订</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>schedule</string>
			<key>chn</key>
			<string>行程表</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>tension</string>
			<key>chn</key>
			<string>紧张</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>termination</string>
			<key>chn</key>
			<string>终结</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>theme</string>
			<key>chn</key>
			<string>主题</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>thereby</string>
			<key>chn</key>
			<string>因此</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>uniform</string>
			<key>chn</key>
			<string>不变的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>vehicle</string>
			<key>chn</key>
			<string>工具轿车</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>via</string>
			<key>chn</key>
			<string>通过</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>virtually</string>
			<key>chn</key>
			<string>几乎</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>widespread</string>
			<key>chn</key>
			<string>普遍的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>visual</string>
			<key>chn</key>
			<string>视觉的</string>
			<key>status</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
