<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>example</key>
	<dict>
		<key>en</key>
		<string></string>
		<key>chn</key>
		<string></string>
		<key>status</key>
		<string></string>
	</dict>
	<key>list</key>
	<array>
		<dict>
			<key>en</key>
			<string>accommodation</string>
			<key>chn</key>
			<string>住宿</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>analogous</string>
			<key>chn</key>
			<string>类比的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>anticipated</string>
			<key>chn</key>
			<string>预料</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>assurance</string>
			<key>chn</key>
			<string>确保</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>attained</string>
			<key>chn</key>
			<string>获得</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>behalf</string>
			<key>chn</key>
			<string>为了...的利益</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>bulk</string>
			<key>chn</key>
			<string>体积</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>ceases</string>
			<key>chn</key>
			<string>停止</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>coherence</string>
			<key>chn</key>
			<string>协调的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>coincide</string>
			<key>chn</key>
			<string>同时发生</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>commenced</string>
			<key>chn</key>
			<string>开始</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>incompatible</string>
			<key>chn</key>
			<string>不兼容的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>concurrent</string>
			<key>chn</key>
			<string>同时发生的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>confined</string>
			<key>chn</key>
			<string>限制</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>controversy</string>
			<key>chn</key>
			<string>争执</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>conversely</string>
			<key>chn</key>
			<string>相反的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>device</string>
			<key>chn</key>
			<string>装置</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>devoted</string>
			<key>chn</key>
			<string>投入</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>diminished</string>
			<key>chn</key>
			<string>减少</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>distorted/distortion</string>
			<key>chn</key>
			<string>扭曲</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>duration</string>
			<key>chn</key>
			<string>持续</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>erosion</string>
			<key>chn</key>
			<string>腐蚀</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>ethical</string>
			<key>chn</key>
			<string>道德的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>format</string>
			<key>chn</key>
			<string>布局</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>founded</string>
			<key>chn</key>
			<string>建立</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>inherent</string>
			<key>chn</key>
			<string>内在的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>insights</string>
			<key>chn</key>
			<string>洞察力</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>integral</string>
			<key>chn</key>
			<string>必需的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>intermediate</string>
			<key>chn</key>
			<string>中间的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>manual</string>
			<key>chn</key>
			<string>用手的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>mature</string>
			<key>chn</key>
			<string>成熟的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>mediation</string>
			<key>chn</key>
			<string>调停</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>medium</string>
			<key>chn</key>
			<string>媒介</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>military</string>
			<key>chn</key>
			<string>军事的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>minimal</string>
			<key>chn</key>
			<string>最小的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>mutual</string>
			<key>chn</key>
			<string>双方的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>norms</string>
			<key>chn</key>
			<string>惯例</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>overlap</string>
			<key>chn</key>
			<string>重合</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>passive</string>
			<key>chn</key>
			<string>消极的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>portion</string>
			<key>chn</key>
			<string>比例</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>preliminary</string>
			<key>chn</key>
			<string>基础的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>protocol</string>
			<key>chn</key>
			<string>惯例</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>qualitative</string>
			<key>chn</key>
			<string>质的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>refine</string>
			<key>chn</key>
			<string>提炼</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>relaxed</string>
			<key>chn</key>
			<string>放松的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>restraints</string>
			<key>chn</key>
			<string>限制</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>revolution</string>
			<key>chn</key>
			<string>革命</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>rigid</string>
			<key>chn</key>
			<string>严格的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>route</string>
			<key>chn</key>
			<string>线路</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>scenario</string>
			<key>chn</key>
			<string>梗概</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>sphere</string>
			<key>chn</key>
			<string>球面领域</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>subordinate</string>
			<key>chn</key>
			<string>下级的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>supplementary</string>
			<key>chn</key>
			<string>补充道</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>suspended</string>
			<key>chn</key>
			<string>暂停</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>team</string>
			<key>chn</key>
			<string>团队</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>temporary</string>
			<key>chn</key>
			<string>暂时的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>trigger</string>
			<key>chn</key>
			<string>引起</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>unified</string>
			<key>chn</key>
			<string>统一的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>violation</string>
			<key>chn</key>
			<string>违背</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>vision</string>
			<key>chn</key>
			<string>视力</string>
			<key>status</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
