<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>example</key>
	<dict>
		<key>en</key>
		<string></string>
		<key>chn</key>
		<string></string>
		<key>status</key>
		<string></string>
	</dict>
	<key>list</key>
	<array>
		<dict>
			<key>en</key>
			<string>alternative</string>
			<key>chn</key>
			<string>可供选择的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>circumstance</string>
			<key>chn</key>
			<string>环境</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>comments</string>
			<key>chn</key>
			<string>评论</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>compensation</string>
			<key>chn</key>
			<string>补偿</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>components</string>
			<key>chn</key>
			<string>组成部分</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>consent</string>
			<key>chn</key>
			<string>同意</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>considerable</string>
			<key>chn</key>
			<string>大量的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>constant</string>
			<key>chn</key>
			<string>连续的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>constraints</string>
			<key>chn</key>
			<string>限制</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>contribution</string>
			<key>chn</key>
			<string>贡献</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>convention</string>
			<key>chn</key>
			<string>准则</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>coordination</string>
			<key>chn</key>
			<string>协调</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>core</string>
			<key>chn</key>
			<string>核心的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>corporate</string>
			<key>chn</key>
			<string>大公司</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>corresponding </string>
			<key>chn</key>
			<string>相应的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>criteria</string>
			<key>chn</key>
			<string>标准</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>deduction</string>
			<key>chn</key>
			<string>减除</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>demonstrate</string>
			<key>chn</key>
			<string>证明</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>document</string>
			<key>chn</key>
			<string>文件</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>dominant</string>
			<key>chn</key>
			<string>主导的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>emphasis</string>
			<key>chn</key>
			<string>重要性</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>ensure</string>
			<key>chn</key>
			<string>确保</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>excluded</string>
			<key>chn</key>
			<string>排除</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>framework</string>
			<key>chn</key>
			<string>框架</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>funds</string>
			<key>chn</key>
			<string>资金</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>illustrated</string>
			<key>chn</key>
			<string>给...插图</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>immigration</string>
			<key>chn</key>
			<string>移民</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>implies</string>
			<key>chn</key>
			<string>暗示</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>initial</string>
			<key>chn</key>
			<string>开始的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>instance</string>
			<key>chn</key>
			<string>例子</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>interaction</string>
			<key>chn</key>
			<string>互动</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>justification</string>
			<key>chn</key>
			<string>证明正确</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>layer</string>
			<key>chn</key>
			<string>层</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>link</string>
			<key>chn</key>
			<string>连接</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>location</string>
			<key>chn</key>
			<string>地点</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>maximum</string>
			<key>chn</key>
			<string>最大</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>minorities</string>
			<key>chn</key>
			<string>少数</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>negative</string>
			<key>chn</key>
			<string>消极的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>outcomes</string>
			<key>chn</key>
			<string>结果</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>partnership</string>
			<key>chn</key>
			<string>合作</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>philosophy</string>
			<key>chn</key>
			<string>哲学</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>physical</string>
			<key>chn</key>
			<string>身体的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>proportion</string>
			<key>chn</key>
			<string>部分比例</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>publish</string>
			<key>chn</key>
			<string>出版</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>reaction</string>
			<key>chn</key>
			<string>反应</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>registered</string>
			<key>chn</key>
			<string>登记</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>reliance</string>
			<key>chn</key>
			<string>依靠</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>removed</string>
			<key>chn</key>
			<string>移开</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>scheme</string>
			<key>chn</key>
			<string>计划方案</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>sequence</string>
			<key>chn</key>
			<string>顺序</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>sex</string>
			<key>chn</key>
			<string>性</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>shift</string>
			<key>chn</key>
			<string>转换</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>specified</string>
			<key>chn</key>
			<string>具体说明的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>sufficient</string>
			<key>chn</key>
			<string>足够的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>task</string>
			<key>chn</key>
			<string>任务</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>technical</string>
			<key>chn</key>
			<string>技术的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>techniques</string>
			<key>chn</key>
			<string>技术</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>technology</string>
			<key>chn</key>
			<string>技术</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>validity</string>
			<key>chn</key>
			<string>合法性</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>volume</string>
			<key>chn</key>
			<string>量</string>
			<key>status</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
