<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>example</key>
	<dict>
		<key>en</key>
		<string></string>
		<key>chn</key>
		<string></string>
		<key>status</key>
		<string></string>
	</dict>
	<key>list</key>
	<array>
		<dict>
			<key>en</key>
			<string>academic</string>
			<key>chn</key>
			<string>学术的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>adjustment</string>
			<key>chn</key>
			<string>调整</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>alter</string>
			<key>chn</key>
			<string>改变</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>amendment</string>
			<key>chn</key>
			<string>修订</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>aware</string>
			<key>chn</key>
			<string>注意到</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>capacity</string>
			<key>chn</key>
			<string>能力</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>challenge</string>
			<key>chn</key>
			<string>挑战</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>clause</string>
			<key>chn</key>
			<string>从句</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>compounds</string>
			<key>chn</key>
			<string>混合物</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>conflict</string>
			<key>chn</key>
			<string>矛盾</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>consultation</string>
			<key>chn</key>
			<string>咨询</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>contact</string>
			<key>chn</key>
			<string>接触</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>decline</string>
			<key>chn</key>
			<string>下降</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>discretion</string>
			<key>chn</key>
			<string>谨慎</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>draft</string>
			<key>chn</key>
			<string>草稿</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>enable</string>
			<key>chn</key>
			<string>使...能</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>energy</string>
			<key>chn</key>
			<string>能量</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>enforcement</string>
			<key>chn</key>
			<string>强制执行</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>entities</string>
			<key>chn</key>
			<string>实物</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>equivalent</string>
			<key>chn</key>
			<string>相等的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>evolution</string>
			<key>chn</key>
			<string>进化</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>expansion</string>
			<key>chn</key>
			<string>扩张</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>exposure</string>
			<key>chn</key>
			<string>接触</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>external</string>
			<key>chn</key>
			<string>外部的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>facilitate</string>
			<key>chn</key>
			<string>协助</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>fundamental</string>
			<key>chn</key>
			<string>根本的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>generated</string>
			<key>chn</key>
			<string>产生</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>generation</string>
			<key>chn</key>
			<string>代</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>image</string>
			<key>chn</key>
			<string>图像</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>liberal</string>
			<key>chn</key>
			<string>开明的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>licence</string>
			<key>chn</key>
			<string>执照</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>logic</string>
			<key>chn</key>
			<string>逻辑</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>marginal</string>
			<key>chn</key>
			<string>边缘的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>medical</string>
			<key>chn</key>
			<string>医学的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>mental</string>
			<key>chn</key>
			<string>精神的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>modified</string>
			<key>chn</key>
			<string>修改</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>monitoring</string>
			<key>chn</key>
			<string>监督</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>network</string>
			<key>chn</key>
			<string>网络</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>notion</string>
			<key>chn</key>
			<string>概念</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>objective</string>
			<key>chn</key>
			<string>客观的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>orientation</string>
			<key>chn</key>
			<string>定位</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>perspective</string>
			<key>chn</key>
			<string>角度</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>precise</string>
			<key>chn</key>
			<string>精准的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>prime</string>
			<key>chn</key>
			<string>主要的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>psychology</string>
			<key>chn</key>
			<string>心理学</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>pursue</string>
			<key>chn</key>
			<string>追逐</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>ratio</string>
			<key>chn</key>
			<string>比例</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>rejected</string>
			<key>chn</key>
			<string>拒绝</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>revenue</string>
			<key>chn</key>
			<string>税收</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>stability</string>
			<key>chn</key>
			<string>稳定性</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>styles</string>
			<key>chn</key>
			<string>风格</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>substitution</string>
			<key>chn</key>
			<string>代替物</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>sustainable</string>
			<key>chn</key>
			<string>可持续的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>symbolic</string>
			<key>chn</key>
			<string>象征的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>target</string>
			<key>chn</key>
			<string>目标</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>transition</string>
			<key>chn</key>
			<string>过度</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>trend</string>
			<key>chn</key>
			<string>潮流</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>version</string>
			<key>chn</key>
			<string>版本</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>welfare</string>
			<key>chn</key>
			<string>福祉</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>whereas</string>
			<key>chn</key>
			<string>却</string>
			<key>status</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
