<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>example</key>
	<dict>
		<key>en</key>
		<string></string>
		<key>chn</key>
		<string></string>
		<key>status</key>
		<string></string>
	</dict>
	<key>list</key>
	<array>
		<dict>
			<key>en</key>
			<string>abstract</string>
			<key>chn</key>
			<string>摘要</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>accurate</string>
			<key>chn</key>
			<string>准确的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>acknowledge</string>
			<key>chn</key>
			<string>承认</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>aggregate</string>
			<key>chn</key>
			<string>总计</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>allocation</string>
			<key>chn</key>
			<string>分配</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>assigned</string>
			<key>chn</key>
			<string>指派</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>attached</string>
			<key>chn</key>
			<string>粘附</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>author</string>
			<key>chn</key>
			<string>作者</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>bond</string>
			<key>chn</key>
			<string>纽带</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>brief</string>
			<key>chn</key>
			<string>简洁的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>capable</string>
			<key>chn</key>
			<string>有能力的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>cite</string>
			<key>chn</key>
			<string>引用</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>cooperative</string>
			<key>chn</key>
			<string>合作的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>discrimination</string>
			<key>chn</key>
			<string>歧视</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>display</string>
			<key>chn</key>
			<string>显示</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>diversity</string>
			<key>chn</key>
			<string>多样性</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>domain</string>
			<key>chn</key>
			<string>领域</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>edition</string>
			<key>chn</key>
			<string>版本</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>enhanced</string>
			<key>chn</key>
			<string>提高</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>estate</string>
			<key>chn</key>
			<string>地产</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>exceed</string>
			<key>chn</key>
			<string>超过</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>expert</string>
			<key>chn</key>
			<string>专家</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>explicit</string>
			<key>chn</key>
			<string>明显的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>federal</string>
			<key>chn</key>
			<string>联邦的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>fees</string>
			<key>chn</key>
			<string>费用</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>flexibility</string>
			<key>chn</key>
			<string>灵活性</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>furthermore</string>
			<key>chn</key>
			<string>而且</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>gender</string>
			<key>chn</key>
			<string>性别</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>ignored</string>
			<key>chn</key>
			<string>忽视</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>incentive</string>
			<key>chn</key>
			<string>刺激</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>incidence</string>
			<key>chn</key>
			<string>发生</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>incorporate</string>
			<key>chn</key>
			<string>纳入</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>index</string>
			<key>chn</key>
			<string>索引</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>inhibition</string>
			<key>chn</key>
			<string>内抑感</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>initiatives</string>
			<key>chn</key>
			<string>主动性</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>input</string>
			<key>chn</key>
			<string>输入</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>instructions</string>
			<key>chn</key>
			<string>指示</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>intelligence</string>
			<key>chn</key>
			<string>智力</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>interval</string>
			<key>chn</key>
			<string>间隔</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>lecture</string>
			<key>chn</key>
			<string>讲座</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>migration</string>
			<key>chn</key>
			<string>迁徙</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>minimum</string>
			<key>chn</key>
			<string>最小</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>ministry</string>
			<key>chn</key>
			<string>部</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>motivation</string>
			<key>chn</key>
			<string>动机</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>neutral</string>
			<key>chn</key>
			<string>中立的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>nevertheless</string>
			<key>chn</key>
			<string>然而</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>overseas</string>
			<key>chn</key>
			<string>海外的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>precede</string>
			<key>chn</key>
			<string>先于</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>presumption</string>
			<key>chn</key>
			<string>推测</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>rational</string>
			<key>chn</key>
			<string>合理的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>recovery</string>
			<key>chn</key>
			<string>恢复</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>revealed</string>
			<key>chn</key>
			<string>揭示</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>scope</string>
			<key>chn</key>
			<string>范围</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>subsidiary</string>
			<key>chn</key>
			<string>次要的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>tapes</string>
			<key>chn</key>
			<string>带子</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>trace</string>
			<key>chn</key>
			<string>追踪</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>transformation</string>
			<key>chn</key>
			<string>蜕变</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>transport</string>
			<key>chn</key>
			<string>交通</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>underlying</string>
			<key>chn</key>
			<string>潜在的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>utility</string>
			<key>chn</key>
			<string>实用效用</string>
			<key>status</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
