<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>example</key>
	<dict>
		<key>en</key>
		<string></string>
		<key>chn</key>
		<string></string>
		<key>status</key>
		<string></string>
	</dict>
	<key>list</key>
	<array>
		<dict>
			<key>en</key>
			<string>adaptation</string>
			<key>chn</key>
			<string>适应</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>adults</string>
			<key>chn</key>
			<string>成年人</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>advocate</string>
			<key>chn</key>
			<string>支持</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>aid</string>
			<key>chn</key>
			<string>帮助</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>channel</string>
			<key>chn</key>
			<string>渠道</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>chemical</string>
			<key>chn</key>
			<string>化学的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>classical</string>
			<key>chn</key>
			<string>经典的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>comprehensive</string>
			<key>chn</key>
			<string>全面的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>comprise</string>
			<key>chn</key>
			<string>由...组成</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>confirmed</string>
			<key>chn</key>
			<string>确定</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>contrary</string>
			<key>chn</key>
			<string>相反的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>converted</string>
			<key>chn</key>
			<string>转换</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>couple</string>
			<key>chn</key>
			<string>一对</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>decade</string>
			<key>chn</key>
			<string>十年</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>definite</string>
			<key>chn</key>
			<string>明确的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>deny</string>
			<key>chn</key>
			<string>否认</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>differentiation</string>
			<key>chn</key>
			<string>区分</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>disposal</string>
			<key>chn</key>
			<string>丢弃</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>dynamic</string>
			<key>chn</key>
			<string>动态的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>eliminate</string>
			<key>chn</key>
			<string>消除</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>empirical</string>
			<key>chn</key>
			<string>经验主义的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>equipment</string>
			<key>chn</key>
			<string>设备</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>extract</string>
			<key>chn</key>
			<string>提取</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>file</string>
			<key>chn</key>
			<string>文件</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>finite</string>
			<key>chn</key>
			<string>有限的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>foundation</string>
			<key>chn</key>
			<string>基础</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>global</string>
			<key>chn</key>
			<string>全球的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>grade</string>
			<key>chn</key>
			<string>成绩</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>guarantee</string>
			<key>chn</key>
			<string>保证</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>hierarchical</string>
			<key>chn</key>
			<string>分等级的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>identical</string>
			<key>chn</key>
			<string>相似的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>ideology</string>
			<key>chn</key>
			<string>意识形态</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>inferred</string>
			<key>chn</key>
			<string>推断</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>innovation</string>
			<key>chn</key>
			<string>创新</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>insert</string>
			<key>chn</key>
			<string>嵌入</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>intervention</string>
			<key>chn</key>
			<string>干预</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>isolate</string>
			<key>chn</key>
			<string>使孤立</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>media</string>
			<key>chn</key>
			<string>媒体</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>mode</string>
			<key>chn</key>
			<string>模式</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>paradigm</string>
			<key>chn</key>
			<string>范例</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>phenomenon</string>
			<key>chn</key>
			<string>现象</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>priority</string>
			<key>chn</key>
			<string>优先权</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>prohibited</string>
			<key>chn</key>
			<string>禁止</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>publication</string>
			<key>chn</key>
			<string>出版物</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>quotation</string>
			<key>chn</key>
			<string>引用</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>release</string>
			<key>chn</key>
			<string>释放</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>reverse</string>
			<key>chn</key>
			<string>倒退</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>simulation</string>
			<key>chn</key>
			<string>模仿</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>solely</string>
			<key>chn</key>
			<string>独自的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>somewhat</string>
			<key>chn</key>
			<string>稍微</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>submit</string>
			<key>chn</key>
			<string>提交</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>successive</string>
			<key>chn</key>
			<string>连续的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>survive</string>
			<key>chn</key>
			<string>幸存</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>thesis</string>
			<key>chn</key>
			<string>论文</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>topic</string>
			<key>chn</key>
			<string>主题</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>transmission</string>
			<key>chn</key>
			<string>传播</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>ultimately</string>
			<key>chn</key>
			<string>最终地</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>unique</string>
			<key>chn</key>
			<string>独特的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>visible</string>
			<key>chn</key>
			<string>可见的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>voluntary</string>
			<key>chn</key>
			<string>自愿的</string>
			<key>status</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
