<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>example</key>
	<dict>
		<key>en</key>
		<string></string>
		<key>chn</key>
		<string></string>
		<key>status</key>
		<string></string>
	</dict>
	<key>list</key>
	<array>
		<dict>
			<key>en</key>
			<string>achieve</string>
			<key>chn</key>
			<string>获得</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>acquisition</string>
			<key>chn</key>
			<string>收购 获得</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>administration</string>
			<key>chn</key>
			<string>管理</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>affect</string>
			<key>chn</key>
			<string>影响</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>appropriate</string>
			<key>chn</key>
			<string>合适的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>aspects</string>
			<key>chn</key>
			<string>方面</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>assistance</string>
			<key>chn</key>
			<string>协助</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>categories</string>
			<key>chn</key>
			<string>种类</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>chapter</string>
			<key>chn</key>
			<string>章节</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>commission</string>
			<key>chn</key>
			<string>委托</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>community</string>
			<key>chn</key>
			<string>社区</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>complex</string>
			<key>chn</key>
			<string>组成的,合成的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>computer</string>
			<key>chn</key>
			<string>电脑</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>conclusion</string>
			<key>chn</key>
			<string>结论</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>conduct</string>
			<key>chn</key>
			<string>做</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>consequences</string>
			<key>chn</key>
			<string>后果</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>construction</string>
			<key>chn</key>
			<string>建设</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>consumer</string>
			<key>chn</key>
			<string>顾客</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>credit</string>
			<key>chn</key>
			<string>信用</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>cultural</string>
			<key>chn</key>
			<string>文化的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>design</string>
			<key>chn</key>
			<string>设计</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>distinction</string>
			<key>chn</key>
			<string>区别</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>elements</string>
			<key>chn</key>
			<string>元素</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>equation</string>
			<key>chn</key>
			<string>等式</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>evaluation</string>
			<key>chn</key>
			<string>评价</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>features</string>
			<key>chn</key>
			<string>特点</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>final</string>
			<key>chn</key>
			<string>最后的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>focus</string>
			<key>chn</key>
			<string>关注</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>impact</string>
			<key>chn</key>
			<string>影响</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>injury</string>
			<key>chn</key>
			<string>受伤</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>institute</string>
			<key>chn</key>
			<string>协会</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>investment</string>
			<key>chn</key>
			<string>投资</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>items</string>
			<key>chn</key>
			<string>项目条款</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>journal</string>
			<key>chn</key>
			<string>期刊</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>maintenance</string>
			<key>chn</key>
			<string>维修</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>normal</string>
			<key>chn</key>
			<string>正常的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>obtained</string>
			<key>chn</key>
			<string>获得</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>participation</string>
			<key>chn</key>
			<string>参与</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>perceive</string>
			<key>chn</key>
			<string>认识到</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>positive</string>
			<key>chn</key>
			<string>积极的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>potential</string>
			<key>chn</key>
			<string>潜在的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>previous</string>
			<key>chn</key>
			<string>之前的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>primary</string>
			<key>chn</key>
			<string>主要的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>purchase</string>
			<key>chn</key>
			<string>购买</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>range</string>
			<key>chn</key>
			<string>范围</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>region</string>
			<key>chn</key>
			<string>地区</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>regulations</string>
			<key>chn</key>
			<string>规则</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>relevant</string>
			<key>chn</key>
			<string>相关的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>resident</string>
			<key>chn</key>
			<string>定居者</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>resources</string>
			<key>chn</key>
			<string>资源</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>restricted</string>
			<key>chn</key>
			<string>受限</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>security</string>
			<key>chn</key>
			<string>安全</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>sought</string>
			<key>chn</key>
			<string>寻找(过去式)</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>select</string>
			<key>chn</key>
			<string>挑选</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>site</string>
			<key>chn</key>
			<string>选址</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>strategies</string>
			<key>chn</key>
			<string>策略</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>survey</string>
			<key>chn</key>
			<string>调查</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>text</string>
			<key>chn</key>
			<string>文本</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>traditional</string>
			<key>chn</key>
			<string>传统的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>transfer</string>
			<key>chn</key>
			<string>转移</string>
			<key>status</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
