<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>example</key>
	<dict>
		<key>en</key>
		<string></string>
		<key>chn</key>
		<string></string>
		<key>status</key>
		<string></string>
	</dict>
	<key>list</key>
	<array>
		<dict>
			<key>en</key>
			<string>analysis</string>
			<key>chn</key>
			<string>n. 分析结果, （对物质成分的）分析</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>approach</string>
			<key>chn</key>
			<string>v. （在距离或时间上）靠近，接近；接洽；建议；要求；（在数额、水平或质量上）接近；着手处理；对付

n. （待人接物或思考问题的）方式，方法，态度；（距离和时间上的）靠近，接近；接洽；建议；通路；路径；道路</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>area</string>
			<key>chn</key>
			<string>n. 区, 面积, 领域, 方面</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>assessment</string>
			<key>chn</key>
			<string>n. 估价；评估</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>assume</string>
			<key>chn</key>
			<string>v. （无证据的）假设，假定；臆断；认为；呈现；具有（特定的性质、外表或程度）；承担（责任）；采取；就（职）</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>authority</string>
			<key>chn</key>
			<string>权威</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>available</string>
			<key>chn</key>
			<string>可提供的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>benefit</string>
			<key>chn</key>
			<string>好处，受益</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>concept</string>
			<key>chn</key>
			<string>概念</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>consistent</string>
			<key>chn</key>
			<string>一致的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>constitutional</string>
			<key>chn</key>
			<string>宪法的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>context</string>
			<key>chn</key>
			<string>环境</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>contract</string>
			<key>chn</key>
			<string>收缩合同</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>create</string>
			<key>chn</key>
			<string>创造</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>data</string>
			<key>chn</key>
			<string>数据</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>definition</string>
			<key>chn</key>
			<string>定义</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>derived</string>
			<key>chn</key>
			<string>由来，派生</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>distribution</string>
			<key>chn</key>
			<string>分布</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>economic</string>
			<key>chn</key>
			<string>经济的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>environment</string>
			<key>chn</key>
			<string>环境</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>establish</string>
			<key>chn</key>
			<string>建立</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>estimate</string>
			<key>chn</key>
			<string>估计</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>evidence</string>
			<key>chn</key>
			<string>证据</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>export</string>
			<key>chn</key>
			<string>出口</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>factors</string>
			<key>chn</key>
			<string>因素</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>financial</string>
			<key>chn</key>
			<string>金融的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>formula</string>
			<key>chn</key>
			<string>公式</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>function</string>
			<key>chn</key>
			<string>功能</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>identified</string>
			<key>chn</key>
			<string>确认的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>income</string>
			<key>chn</key>
			<string>收入</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>indicate</string>
			<key>chn</key>
			<string>指出</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>individual</string>
			<key>chn</key>
			<string>个人的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>interpretation</string>
			<key>chn</key>
			<string>理解</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>involved</string>
			<key>chn</key>
			<string>涉及到</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>issues</string>
			<key>chn</key>
			<string>问题</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>labour</string>
			<key>chn</key>
			<string>劳动力</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>legal</string>
			<key>chn</key>
			<string>合法的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>legislation</string>
			<key>chn</key>
			<string>立法</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>major</string>
			<key>chn</key>
			<string>主要的 专业</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>method</string>
			<key>chn</key>
			<string>方法</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>occur</string>
			<key>chn</key>
			<string>出现</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>percent</string>
			<key>chn</key>
			<string>百分之</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>period</string>
			<key>chn</key>
			<string>时期</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>policy</string>
			<key>chn</key>
			<string>政策</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>principle</string>
			<key>chn</key>
			<string>原则</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>procedure</string>
			<key>chn</key>
			<string>步骤</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>process</string>
			<key>chn</key>
			<string>过程，处理</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>required</string>
			<key>chn</key>
			<string>必须的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>research</string>
			<key>chn</key>
			<string>研究</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>response</string>
			<key>chn</key>
			<string>回应</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>role</string>
			<key>chn</key>
			<string>角色，作用</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>section</string>
			<key>chn</key>
			<string>部分</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>sector</string>
			<key>chn</key>
			<string> 行业 区域</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>significant</string>
			<key>chn</key>
			<string>重要的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>similar</string>
			<key>chn</key>
			<string>相似的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>source</string>
			<key>chn</key>
			<string>源头</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>specific</string>
			<key>chn</key>
			<string>具体的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>structure</string>
			<key>chn</key>
			<string>结构</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>theory</string>
			<key>chn</key>
			<string>理论</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>variables</string>
			<key>chn</key>
			<string>变量</string>
			<key>status</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
