<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>example</key>
	<dict>
		<key>en</key>
		<string></string>
		<key>chn</key>
		<string></string>
		<key>status</key>
		<string></string>
	</dict>
	<key>list</key>
	<array>
		<dict>
			<key>en</key>
			<string>adjacent</string>
			<key>chn</key>
			<string>比邻的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>albeit</string>
			<key>chn</key>
			<string>尽管</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>assembly</string>
			<key>chn</key>
			<string>聚集到一起的人</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>collapse</string>
			<key>chn</key>
			<string>倒塌</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>colleagues</string>
			<key>chn</key>
			<string>同事</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>compiled</string>
			<key>chn</key>
			<string>汇编</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>conceived</string>
			<key>chn</key>
			<string>构思</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>convinced</string>
			<key>chn</key>
			<string>使信服</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>depression</string>
			<key>chn</key>
			<string>萧条降低</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>encountered</string>
			<key>chn</key>
			<string>面临</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>enormous</string>
			<key>chn</key>
			<string>巨大的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>forthcoming</string>
			<key>chn</key>
			<string>即将到来的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>inclination</string>
			<key>chn</key>
			<string>倾向</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>integrity</string>
			<key>chn</key>
			<string>完整，诚实</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>intrinsic</string>
			<key>chn</key>
			<string>内在的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>invoked</string>
			<key>chn</key>
			<string>引起产生</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>levy</string>
			<key>chn</key>
			<string>征收</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>likewise</string>
			<key>chn</key>
			<string>同样</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>nonetheless</string>
			<key>chn</key>
			<string>尽管如此</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>notwithstanding</string>
			<key>chn</key>
			<string>尽管</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>odd</string>
			<key>chn</key>
			<string>古怪的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>ongoing</string>
			<key>chn</key>
			<string>持续的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>panel</string>
			<key>chn</key>
			<string>委员会，小组</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>persistent</string>
			<key>chn</key>
			<string>坚持不懈的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>posed</string>
			<key>chn</key>
			<string>形成构成</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>reluctant</string>
			<key>chn</key>
			<string>不情愿的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>so-called</string>
			<key>chn</key>
			<string>所谓的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>straightforward</string>
			<key>chn</key>
			<string>易懂的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>undergo</string>
			<key>chn</key>
			<string>经受</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>whereby</string>
			<key>chn</key>
			<string>借</string>
			<key>status</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
