<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>example</key>
	<dict>
		<key>en</key>
		<string></string>
		<key>chn</key>
		<string></string>
		<key>status</key>
		<string></string>
	</dict>
	<key>list</key>
	<array>
		<dict>
			<key>en</key>
			<string>access</string>
			<key>chn</key>
			<string>获得</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>adequate</string>
			<key>chn</key>
			<string>足够的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>annual</string>
			<key>chn</key>
			<string>年度的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>apparent</string>
			<key>chn</key>
			<string>明显的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>approximate</string>
			<key>chn</key>
			<string>近似</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>attitudes</string>
			<key>chn</key>
			<string>态度</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>attributed</string>
			<key>chn</key>
			<string>归因于</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>civil</string>
			<key>chn</key>
			<string>国内的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>code</string>
			<key>chn</key>
			<string>代码</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>commitment</string>
			<key>chn</key>
			<string>承诺</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>communication</string>
			<key>chn</key>
			<string>交流</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>concentration</string>
			<key>chn</key>
			<string>浓度</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>conference</string>
			<key>chn</key>
			<string>会议</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>contrast</string>
			<key>chn</key>
			<string>对比</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>cycle</string>
			<key>chn</key>
			<string>循环</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>debate</string>
			<key>chn</key>
			<string>辩论</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>despite</string>
			<key>chn</key>
			<string>尽管</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>dimensions</string>
			<key>chn</key>
			<string>维度</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>domestic</string>
			<key>chn</key>
			<string>国内的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>emerge</string>
			<key>chn</key>
			<string>出现</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>error</string>
			<key>chn</key>
			<string>错误</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>ethnic</string>
			<key>chn</key>
			<string>民族的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>goals</string>
			<key>chn</key>
			<string>目标</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>granted</string>
			<key>chn</key>
			<string>授予</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>hence</string>
			<key>chn</key>
			<string>因此</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>hypothesis</string>
			<key>chn</key>
			<string>假说</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>implementation</string>
			<key>chn</key>
			<string>实施</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>implications</string>
			<key>chn</key>
			<string>含意 暗示</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>imposed</string>
			<key>chn</key>
			<string>强加</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>integration</string>
			<key>chn</key>
			<string>结合</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>internal</string>
			<key>chn</key>
			<string>内部多</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>investigation</string>
			<key>chn</key>
			<string>调查</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>job</string>
			<key>chn</key>
			<string>工作</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>label</string>
			<key>chn</key>
			<string>标签</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>mechanism</string>
			<key>chn</key>
			<string>机制</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>obvious</string>
			<key>chn</key>
			<string>明显的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>occupational</string>
			<key>chn</key>
			<string>职业的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>option</string>
			<key>chn</key>
			<string>选择</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>output</string>
			<key>chn</key>
			<string>产出</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>overall</string>
			<key>chn</key>
			<string>整体的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>parallel</string>
			<key>chn</key>
			<string>平行</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>parameters</string>
			<key>chn</key>
			<string>参数</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>phase</string>
			<key>chn</key>
			<string>阶段</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>predicted</string>
			<key>chn</key>
			<string>预测</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>principal</string>
			<key>chn</key>
			<string>主要的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>prior</string>
			<key>chn</key>
			<string>先前的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>professional</string>
			<key>chn</key>
			<string>专业的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>project</string>
			<key>chn</key>
			<string>项目</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>promote</string>
			<key>chn</key>
			<string>促进</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>regime</string>
			<key>chn</key>
			<string>政权</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>resolution</string>
			<key>chn</key>
			<string>决心</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>retained</string>
			<key>chn</key>
			<string>保留</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>series</string>
			<key>chn</key>
			<string>系列</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>statistics</string>
			<key>chn</key>
			<string>统计</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>status</string>
			<key>chn</key>
			<string>地位</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>stress</string>
			<key>chn</key>
			<string>压力</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>subsequent</string>
			<key>chn</key>
			<string>紧随其后的</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>sum</string>
			<key>chn</key>
			<string>总量</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>summary</string>
			<key>chn</key>
			<string>总结</string>
			<key>status</key>
			<string></string>
		</dict>
		<dict>
			<key>en</key>
			<string>undertaken</string>
			<key>chn</key>
			<string>承担</string>
			<key>status</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
